/*
    font-family: 'Poppins', sans-serif; 
*/

body {
    text-align: center;
    margin: 0;
    background-color: #FCEBEC;
}

.body {
    text-align: center;
    margin: 0;
    background-color: #FCEBEC;
}

.blogHead {
    color: #464660;
}

h1 {
    margin: 0px auto 0 auto;
    height: 6.875rem;
    font-size: 5.625rem;
    font-family: "Merienda", cursive;
    color: #464660;
}

h2 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 2rem;
    color: #368b85;
    margin-top: 80px;
}

h3 {
    font-family: "IBM Plex Mono", monospace;
    color: #11999e;
    font-size: 1.5rem;
}

img {
    width: 300px;
    height: 180px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin: 0 10;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.row {
    margin-right: 20px !important;
    margin-left: 5px !important;
}

.card button:hover {
    opacity: 0.7;
}

.title {
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: #11999e;
}

.content {
    font-family: 'Poppins', sans-serif;
}

.btnBlog, .btn-secondaryBlog {
    color: #ffffff;
}

.btn-defaultBlog {
    background-color: #FFC0CB;
    border: none;
    padding: 12px;
    border-radius: 5px;
}

.btn-defaultBlog:hover {
    background-color: #fce4ec !important;
    border: 1px solid rgb(0, 2, 3);
    transition: ease 0.4s;
    transform: scale(1.02);
}

.btn-defaultBlog:hover a {
    color: #303030;
    transition: ease-in-out 0.4s;
}

@media (max-width: 768px) {
    .blogHead {
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}