/*
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Merienda', cursive;
    font-family: 'MonteCarlo', cursive;
    font-family: 'Nunito', sans-serif;
*/

body {
  text-align: center;
  margin: 0;
  background-color: #f9f9f9;
}
.navbar-nav > .active { 
  color: rgba(0, 0, 0, 0.9) !important;

}
/* .navbar{
    position: sticky;
    top: 0px;
} */

h1 {
  margin: 0px auto 0 auto;
  height: 6.875rem;
  font-size: 5.625rem;
  font-family: "Merienda", cursive;
  color: #464660;
}

h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2rem;
  color: #368b85;
  margin-top: 80px;
}

h3 {
  font-family: "IBM Plex Mono", monospace;
  color: #11999e;
  font-size: 1.5rem;
}

p {
  font-family: "Nunito", sans-serif;
  color: #003638;
  font-size: 1.2rem;
  line-height: 1.5;
}

hr {
  border: dotted #f5c0c0 6px;
  border-bottom: none;
  background-color: #f9f9f9;
  width: 5%;
  margin: 50px auto 50px auto;
}

.githuba {
  color: black;
}
#github{
  margin-top: 30px;
}

a {
  font-family: "Merienda", cursive;
  color: #eaf6f6;
  font-size: 1.2rem;
  text-decoration: none;

  margin: 0 8px 0 8px;
}

a:hover {
  color: #f5c0c0;
}

.subheading {
  font-family: "IBM Plex Mono", monospace;
  margin-top: 0;
  color: #f5c0c0;
  font-size: 2.5rem;
}

.top-code {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-code {
  height: 60px;
  width: 60px;
  position: absolute;
  left: 250px;
  bottom: 100px;
}

.c_bulb {
  height: 60px;
  width: 60px;
  position: absolute;
  left: 100px;
  top: 200px;
}

.c_data {
  height: 60px;
  width: 60px;
  position: absolute;
  right: 100px;
  top: 400px;
}

.mePhoto {
  margin-top: 20px;
  border-radius: 100%;
}

.top-container {
  background-color: #FCE4EC;
  margin: 40px 0px 0px 0px;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin-top: 0px;
  padding-bottom: 20px;
  background-color: #f9f9f9;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 20px 0 20px;
}

.intro {
  width: 75%;
  margin: auto;
}

.skill-row {
  margin: 50px auto 100px auto;
  width: 60%;
  text-align: left;
}

.skillrow-image-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillrowImage1 {
  width: 80%;
  border-radius: 50%;
}

.skillrowImage2 {
  width: 70%;
  height: 32vh;
  border-radius: 50%;
}

.skillrowImage3 {
  width: 80%;
  height: 30vh;
  border-radius: 50%;
}

.skillrowdes1 {
  margin: auto;
  width: auto;
}

.skillrowdes2 p {
  font-family: "Nunito", sans-serif;
  color: #003638;
  font-size: 1.2rem;
  padding-left: 7px;
}

.project_linky {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #464660;
}

.project_linky:hover {
  color: black;
  /* font-family: 'Montserrat', sans-serif; */
}

.github-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}

.github-btn {
  border-radius: 50px;
}

.contact-me {
  width: 40%;
  margin: 40px auto 0px;
  font-family: "Nunito", sans-serif;
}

.contact-me a {
  color: #11999e;
}
.contact-me a:hover {
  color: #003638;
}
#contact_me h2{
  margin-top: 0;
}
#contact_me{
  transform: translateY(-40%);
}
.copyright {
  color: #eaf6f6;
  font-family: "Nunito", sans-serif;
  font-size: 1.05rem;
  padding: 20px 0;
}

#hobbies {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 0;
}
@media (max-width: 768px){
  #hobbies {
    text-align: center;
    margin-bottom: 35px;
    margin-top: -125px;
  }
}
#my_projects{
  transform: translateY(-10%);
}

#my_projects h2{
  text-align: center;
  margin-bottom: 35px;
}

#mycol{
  text-align: center;
}
#details{
  text-align: center;
}
.myhobbies{
  transform: translateY(-50%);
}

/* .icon-container {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
} */

.icon-container {
  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
  width: 45px;
  padding: 8px;
}

.icons:before {
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.icons:hover {
	background: #11999e;
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #fff;
  border-radius: 35%;
}

.icons:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}

#first_hr{
  transform: translateY(60%);
}
#second_hr{
  transform: translateY(-1500%);
}

@media (max-width: 768px) {
  .top-code,
  .bottom-code,
  .c_bulb,
  .c_data {
    display: none;
  
  }

  .intro {
    width: 90%;
    margin: 0px auto;
  }

  .skill-row {
    margin: 7% auto;
    width: 90%;
  }

  .contact-me {
    width: 80%;
    margin: 5% auto 0px;
  }

  .subheading {
    margin-top: 90px;
    margin-bottom: 20px;
  }

  h1 {
    position: relative;
    bottom: 30px;
  }

  .profile img {
    margin: 70px 0px;
  }

  h2 {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
  }

  h3 {
    font-weight: bold;
  }

  .skillrowdes1 {
    font-weight: 100;
  }
  body {
    background-color: #f9f9f9;
  }

  .skillrowImage1 {
    width: 275%;
    margin-bottom: 35px;
    padding: 5px 15px;
  }

  #my_skills {
    margin-bottom: 90px;
    font-weight: bold;
  }

  #mycol {
    text-align: center;
  }

  #imgg {
    position: absolute;
    /* top: 100px; */
    /* right: 5px; */
    margin: 0px auto;
    right: 1px;

    margin-top: 5.5rem;
    width: 140%;
    padding: 0px 15px;
  }

  #my_hobbies {
    margin-top: 90px;
  }

  #details {
    text-align: center;
  }

  #imgg1 {
    width: 200%;
    position: relative;
    top: 60px;
    padding: 0px 15px;
  }

  .copyright {
    width: 90%;
    margin: auto;
  }

  .skill-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .movedown {
    margin-top: 21.5rem;
  } */

  .bottom-container {
    margin-top: 50px;
  }

  .contact_me h2{
    margin-bottom: 0;
  }
  .contant_me p{
    margin-top: 60px;
  }

  #my_projects{
    margin-top: 175px;
    background-color: #f9f9f9;
  }
}

/*flip cards*/
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin-left: 1rem;

  cursor: pointer;

}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
          margin-bottom: 10px;
}
.container-1{
  margin-bottom: 10px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 whitesmoke;
  
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #000;
	font-size: 1.5rem;
  font-family: "IBM Plex Mono", monospace;
}

.back{
  background: #F5F5F5;
  background: -webkit-linear-gradient(  #cedce7 0%);
  background: -o-linear-gradient(45deg,  #cedce7 0%);
  background: linear-gradient(45deg,  #cedce7 0%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: 1;
    background-color: #DCDDDC;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.img
{
  border-radius: 50%;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background:transparent;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-weight: 300;
  font-family: "IBM Plex Mono", monospace;
}


@media screen and (max-width: 1000px) {
    
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

#navbar{
 background-color: #FCE4EC  !important;
}
